/* common code start */
:root{
    --primary-color:#e6128e ;
    --secondary-color:#e1e1e1;
    --light-color: #fdfafa;
    --dark-color: #242424;
}
/* common code end */

.text-justify{
    text-align: justify;

}
.nav-active{
    background: rgba(0,0,0,.5);

}
#navbar .nav-link{
    padding: var(--bs-nav-link-padding-y) 20px !important;
    font-size: 18px;
    font-weight: 600;
    color: var(--light-color);
    text-transform: uppercase;

    &:hover{
        color: var(--primary-color);

    }
    &.active{
        color: var(--primary-color);

    }
}
header{
    background: url(../img/slider.jpg) center;

}
#myCarousel h1 span{
    color: var(--primary-color);

}

.carousel-indicators [data-bs-target] {
    width: 20px;
    height: 20px;
    opacity: 1;
    border-radius: 50%;
    &.active{
        background-color: var(--primary-color);
    }


}
.sojeeb{
    background-color: var(--secondary-color);
}

.about-content a{
    color: var(--dark-color);
    text-decoration: none;
    transition: .3s linear;


    &:hover{
        color: var(--primary-color);

    }
}


.service-content{
    position: relative;
    overflow: hidden;

    &:hover .service-overlay{
        top: 0%;
    }
}

.service-overlay{
    position: absolute;
    left:0;
    top: -100%;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0, .3);
    transition: .5s linear;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.service-overlay a{
    font-size: 30px;
    color: var(--light-color);
    border: 1px solid var(--light-color);
    border-radius: 50px;
    height: 60px;
    width: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .3s linear;
    text-decoration: none;

    &:hover{
        background: var(--primary-color);
        border: 1px solid var(--primary-color);

    }
}

.pricing-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: var(--dark-color);
    cursor: pointer;
    padding: 30px 30px;
    border-radius: 15px;
    transition: .5s linear;
    &:hover{
        background: var(--primary-color);

    }
    &:hover li a {
        color: var(--primary-color);

     }

}
.pricing-header{
    width: 160px;
    height: 160px;
    border: 2px solid var(--secondary-color);
    margin-bottom: 15px;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    & h2{
        font-size: 30px;
        font-weight: 600px;
        text-transform: uppercase;

    }
    & small{
        font-size: 20px;

    }
    & sup{
        font-size: 20px;
        top: -.7em;

    }

}
.pricing-body{
    & li{
        text-transform: uppercase;
        border-bottom: 1px solid var(--light-color);
        padding: 7px;

    }
    & li p{
        margin: 0px;

    }
    & li a {
        padding: 5px 20px;
        text-decoration: none;
        color: var(--dark-color);
        background: var(--light-color);

    }

    & li:last-child{
        border-bottom: 0px solid var(--light-color);
        padding-top: 20px;
    }



}

#counter{
    background: linear-gradient(rgba(0,0,0,.4),rgba(0,0,0,.3)), url(../img/fullbanner.jpg) no-repeat center;
    background-size: cover;

    & .counter-content{
        color: var(--light-color);
        background: rgba(0,0,0,.4);
        padding: 30px, 0px;
        border: 1px solid var(--light-color);

     }



}

.contact-info a{
    color: var(--dark-color);
    text-decoration: none;
    transition: .3s linear;


    &:hover{
        color: var(--primary-color);

    }
}
#map iframe{
    width: 100%;
    border: none ;
    min-height: 450px;



}

