/* common code start */
:root{
    --primary-color:#87d37c ;
    --secondary-color:#e1e1e1;
    --light-color: #fdfafa;
    --dark-color: #242424;
}
/* common code end */
#navbar .nav-link{
    padding: var(--bs-nav-link-padding-y) 10px;
    font-size: 18px;
    font-weight: 600;
    color: var(--light-color);
    text-transform: uppercase;

    &:hover{
        color: var(--primary-color);

    }
    &.active{
        color: var(--primary-color);

    }
}
header{
    background: linear-gradient(rgba(0,0,0,.3),rgba(0,0,0,.3)), url(../img/slider.jpg);
    height: 550px;
    width: 100%;
   
}
#myCarousel h1 span{
    color: var(--primary-color);

}

.carousel-indicators [data-bs-target] {
    width: 30px;
    height: 30px;
    opacity: .5;
    border-radius: 50%;
}
