/* common code start*/
.container{
	width: 80%;
	border: 1px solid red;
	margin: 0px auto;
	box-sizing: border-box;
}
/* common code end*/


/* float start*/
.float-start{
	float: left;
	height: 100%;
	border: 1px solid teal;
	box-sizing: border-box;
}
/* float end*/

/* body start*/
body{
	margin: 0px;
}
/* body end*/

/* w-25 start*/
.w-25{
	width: 25%;
}
/* w-25 end*/

/* w-50 start*/
.w-50{
	width: 50%;
}
/* w-50 end*/

/* w-75 start*/
.w-75{
	width: 75%;
}
/* w-75 end*/

/* w-100 start*/
.w-100{
	width: 100%;
}
/* w-100 end*/

/* header start*/
header{
	
	height: 200px;
}
/* header end*/

/* logo start*/
.logo{
}
/* logo end*/

/* content start*/
.content{
	}
/* content end*/

/* nav start*/
nav{
	
	height: 50px;
	
}
/* nav end*/

/* banner start*/
.banner{
	
	height: 350px;
	
}
/* banner end*/

/* content and image start*/
.content-image{
	
	height: 100%;
	
}
/* content and image end*/

/* main section start*/
main{
	height: 400px;
}
/* main section end*/

/* main section start*/
aside{
	
}
/* main section end*/

/* main section start*/
article{
}
/* main section end*/

/* section start*/
section{
	height: 200px;
	width: 25%;
	border: 1px solid red;
}
/* section end*/

/* footer start*/
.location{
	height: 300px;
}
/* footer end*/

/* footer start*/
footer{
	height: 50px;
}
/* footer end*/